doctype html
html
  head
    title Richy
  header

  body
    h1 List of my favorite things
    ol
      li Raindrops on roses
      li Whiskers on kittens
      li Bright copper kettles
      li Warm woolen mittens

    h2 List of things I find just OK
    ol
      li a
      li b
      li c
